
<!-- Loopple Templates: https://www.loopple.com/templates | Copyright Loopple (https://www.loopple.com) | This copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tailwind CSS Sales Dashboard - Soft UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <link href="https://demos.creative-tim.com/soft-ui-dashboard-tailwind/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://demos.creative-tim.com/soft-ui-dashboard-tailwind/assets/css/nucleo-svg.css" rel="stylesheet" />

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <link rel="stylesheet" href="./assets/css/theme.css">
  <link rel="stylesheet" href="./assets/css/loopple/loopple.css">
</head>

<body>
  <aside class="max-w-62.5 ease-nav-brand z-990 absolute inset-y-0 my-4 ml-4 block w-full -translate-x-full flex-wrap items-center justify-between overflow-y-auto rounded-2xl border-0 bg-white p-0 antialiased shadow-none transition-transform duration-200 xl:left-0 xl:translate-x-0 xl:bg-transparent text-slate-500" id="sidenav-main">
      <div class="h-19.5">
          <i class="absolute top-0 right-0 hidden p-4 opacity-50 cursor-pointer fas fa-times text-slate-400 xl:hidden" sidenav-close="" aria-hidden="true"></i>
          <a class="block px-8 py-6 m-0 text-size-sm whitespace-nowrap text-slate-700" href="javascript:;">
              <img src="https://demos.creative-tim.com/soft-ui-dashboard-tailwind/assets/img/logo-ct.png" class="inline h-full max-w-full transition-all duration-200 ease-nav-brand max-h-8" alt="main_logo">
              <span class="ml-1 font-semibold transition-all duration-200 ease-nav-brand">Tailwind CSS Sales</span>
          </a>
      </div>
      <hr class="h-px mt-0 bg-transparent bg-gradient-horizontal-dark">
      <div class="items-center block w-auto max-h-screen overflow-auto grow basis-full">
          <ul class="flex flex-col pl-0 mb-0">
              <li class="mt-0.5 w-full">
                  <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="javascript:;">
                      <div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                          <svg width="12px" height="12px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>shop</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(-1716.000000, -439.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                      <g transform="translate(1716.000000, 291.000000)">
                                          <g transform="translate(0.000000, 148.000000)">
                                              <path class="fill-slate-800 opacity-60" d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
                                              <path class="fill-slate-800" d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Dashboard</span>
                  </a>
              </li>
              <li class="mt-0.5 w-full">
                  <a class="py-2.7 shadow-soft-xl text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" href="javascript:;">
                      <div class="bg-gradient-fuchsia shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                          <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>office</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                      <g transform="translate(1716.000000, 291.000000)">
                                          <g transform="translate(153.000000, 2.000000)">
                                              <path class="opacity-60" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z"></path>
                                              <path class="" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Tables</span>
                  </a>
              </li>
              <li class="mt-0.5 w-full">
                  <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="javascript:;">
                      <div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center fill-current stroke-0 text-center xl:p-2.5">
                          <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>credit-card</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                      <g transform="translate(1716.000000, 291.000000)">
                                          <g transform="translate(453.000000, 454.000000)">
                                              <path class="fill-slate-800 opacity-60" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"></path>
                                              <path class="fill-slate-800" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Billing</span>
                  </a>
              </li>
              <li class="mt-0.5 w-full">
                  <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="javascript:;">
                      <div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                          <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>box-3d-50</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(-2319.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                      <g transform="translate(1716.000000, 291.000000)">
                                          <g transform="translate(603.000000, 0.000000)">
                                              <path class="fill-slate-800" d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"></path>
                                              <path class="fill-slate-800 opacity-60" d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"></path>
                                              <path class="fill-slate-800 opacity-60" d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Virtual Reality</span>
                  </a>
              </li>
              <li class="mt-0.5 w-full">
                  <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="javascript:;">
                      <div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                          <svg width="12px" height="12px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>settings</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(-2020.000000, -442.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                      <g transform="translate(1716.000000, 291.000000)">
                                          <g transform="translate(304.000000, 151.000000)">
                                              <polygon class="fill-slate-800 opacity-60" points="18.0883333 15.7316667 11.1783333 8.82166667 13.3333333 6.66666667 6.66666667 0 0 6.66666667 6.66666667 13.3333333 8.82166667 11.1783333 15.315 17.6716667"></polygon>
                                              <path class="fill-slate-800 opacity-60" d="M31.5666667,23.2333333 C31.0516667,23.2933333 30.53,23.3333333 30,23.3333333 C29.4916667,23.3333333 28.9866667,23.3033333 28.48,23.245 L22.4116667,30.7433333 L29.9416667,38.2733333 C32.2433333,40.575 35.9733333,40.575 38.275,38.2733333 L38.275,38.2733333 C40.5766667,35.9716667 40.5766667,32.2416667 38.275,29.94 L31.5666667,23.2333333 Z"></path>
                                              <path class="fill-slate-800" d="M33.785,11.285 L28.715,6.215 L34.0616667,0.868333333 C32.82,0.315 31.4483333,0 30,0 C24.4766667,0 20,4.47666667 20,10 C20,10.99 20.1483333,11.9433333 20.4166667,12.8466667 L2.435,27.3966667 C0.95,28.7083333 0.0633333333,30.595 0.00333333333,32.5733333 C-0.0583333333,34.5533333 0.71,36.4916667 2.11,37.89 C3.47,39.2516667 5.27833333,40 7.20166667,40 C9.26666667,40 11.2366667,39.1133333 12.6033333,37.565 L27.1533333,19.5833333 C28.0566667,19.8516667 29.01,20 30,20 C35.5233333,20 40,15.5233333 40,10 C40,8.55166667 39.685,7.18 39.1316667,5.93666667 L33.785,11.285 Z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">RTL</span>
                  </a>
              </li>
              <li class="w-full mt-4">
                  <h6 class="pl-6 ml-2 font-bold leading-tight uppercase text-size-xs opacity-60">Account pages</h6>
              </li>
              <li class="mt-0.5 w-full">
                  <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="javascript:;">
                      <div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                          <svg width="12px" height="12px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>customer-support</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                      <g transform="translate(1716.000000, 291.000000)">
                                          <g transform="translate(1.000000, 0.000000)">
                                              <path class="fill-slate-800 opacity-60" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z"></path>
                                              <path class="fill-slate-800" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                                              <path class="fill-slate-800" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Profile</span>
                  </a>
              </li>
              <li class="mt-0.5 w-full">
                  <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="javascript:;">
                      <div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                          <svg width="12px" height="12px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>document</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                      <g transform="translate(1716.000000, 291.000000)">
                                          <g transform="translate(154.000000, 300.000000)">
                                              <path class="fill-slate-800 opacity-60" d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z"></path>
                                              <path class="fill-slate-800" d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Sign In</span>
                  </a>
              </li>
              <li class="mt-0.5 w-full">
                  <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="javascript:;">
                      <div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                          <svg width="12px" height="20px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>spaceship</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(-1720.000000, -592.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                      <g transform="translate(1716.000000, 291.000000)">
                                          <g transform="translate(4.000000, 301.000000)">
                                              <path class="fill-slate-800" d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z"></path>
                                              <path class="fill-slate-800 opacity-60" d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z"></path>
                                              <path class="fill-slate-800 opacity-60" d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z"></path>
                                              <path class="fill-slate-800 opacity-60" d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Sign Up</span>
                  </a>
              </li>
          </ul>
      </div>
  </aside>
  <div class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200" id="panel">
      <nav class="relative flex flex-wrap items-center justify-between px-0 py-2 mx-6 transition-all shadow-none duration-250 ease-soft-in rounded-2xl lg:flex-nowrap lg:justify-start" id="navbarTop" navbar-scroll="true">
          <div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
              <nav>

                  <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
                      <li class="leading-normal text-size-sm">
                          <a class="opacity-50 text-slate-700" href="javascript:;">Pages</a>
                      </li>
                      <li class="text-size-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">Dashboard</li>
                  </ol>
                  <h6 class="mb-0 font-bold capitalize">Sales</h6>
              </nav>
              <div class="flex items-center mt-2 grow sm:mt-0 sm:mr-6 md:mr-0 lg:flex lg:basis-auto">
                  <div class="flex items-center md:ml-auto md:pr-4">
                      <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
                          <span class="text-size-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                              <i class="fas fa-search" aria-hidden="true"></i>
                          </span>
                          <input type="text" class="pl-8.75 text-size-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Type here...">
                      </div>
                  </div>
                  <ul class="flex flex-row justify-end pl-0 mb-0 list-none md-max:w-full">


                      <li class="flex items-center">
                          <a href="../pages/sign-in.html" class="block px-0 py-2 font-semibold transition-all ease-nav-brand text-size-sm text-slate-500">
                              <i class="fa fa-user sm:mr-1" aria-hidden="true"></i>
                              <span class="hidden sm:inline">Sign In</span>
                          </a>
                      </li>
                      <li class="flex items-center pl-4 xl:hidden">
                          <a href="javascript:;" class="block p-0 transition-all ease-nav-brand text-size-sm text-slate-500" sidenav-trigger="">
                              <div class="w-4.5 overflow-hidden">
                                  <i class="ease-soft mb-0.75 relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
                                  <i class="ease-soft mb-0.75 relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
                                  <i class="ease-soft relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
                              </div>
                          </a>
                      </li>
                      <li class="flex items-center px-4">
                          <a href="javascript:;" class="p-0 transition-all text-size-sm ease-nav-brand text-slate-500">
                              <i fixed-plugin-button-nav="" class="cursor-pointer fa fa-cog" aria-hidden="true"></i>

                          </a>
                      </li>

                      <li class="relative flex items-center pr-2">
                          <p class="hidden transform-dropdown-show"></p>
                          <a href="javascript:;" class="block p-0 transition-all text-size-sm ease-nav-brand text-slate-500" dropdown-trigger="" aria-expanded="false">
                              <i class="cursor-pointer fa fa-bell" aria-hidden="true"></i>
                          </a>
                          <ul dropdown-menu="" class="text-size-sm transform-dropdown before:font-awesome before:leading-default before:duration-350 before:ease-soft lg:shadow-soft-3xl duration-250 min-w-44 before:sm:right-7.5 before:text-5.5 pointer-events-none absolute right-0 top-0 z-50 origin-top list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all before:absolute before:right-2 before:left-auto before:top-0 before:z-50 before:inline-block before:font-normal before:text-white before:antialiased before:transition-all before:content-['\f0d8'] sm:-mr-6 lg:absolute lg:right-0 lg:left-auto lg:mt-2 lg:block lg:cursor-pointer">

                              <li class="relative mb-2">
                                  <a class="ease-soft py-1.2 clear-both block w-full whitespace-nowrap rounded-lg bg-transparent px-4 duration-300 hover:bg-gray-200 hover:text-slate-700 lg:transition-colors" href="javascript:;">
                                      <div class="flex py-1">
                                          <div class="my-auto">
                                              <img src="../assets/img/team-2.jpg" class="inline-flex items-center justify-center mr-4 text-white text-size-sm h-9 w-9 max-w-none rounded-xl">
                                          </div>
                                          <div class="flex flex-col justify-center">
                                              <h6 class="mb-1 font-normal leading-normal text-size-sm"><span class="font-semibold">New message</span> from Laur</h6>
                                              <p class="mb-0 leading-tight text-size-xs text-slate-400">
                                                  <i class="mr-1 fa fa-clock" aria-hidden="true"></i>
                                                  13 minutes ago
                                              </p>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                              <li class="relative mb-2">
                                  <a class="ease-soft py-1.2 clear-both block w-full whitespace-nowrap rounded-lg px-4 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700" href="javascript:;">
                                      <div class="flex py-1">
                                          <div class="my-auto">
                                              <img src="../assets/img/small-logos/logo-spotify.svg" class="inline-flex items-center justify-center mr-4 text-white text-size-sm bg-gradient-dark-gray h-9 w-9 max-w-none rounded-xl">
                                          </div>
                                          <div class="flex flex-col justify-center">
                                              <h6 class="mb-1 font-normal leading-normal text-size-sm"><span class="font-semibold">New album</span> by Travis Scott</h6>
                                              <p class="mb-0 leading-tight text-size-xs text-slate-400">
                                                  <i class="mr-1 fa fa-clock" aria-hidden="true"></i>
                                                  1 day
                                              </p>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                              <li class="relative">
                                  <a class="ease-soft py-1.2 clear-both block w-full whitespace-nowrap rounded-lg px-4 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700" href="javascript:;">
                                      <div class="flex py-1">
                                          <div class="inline-flex items-center justify-center my-auto mr-4 text-white transition-all duration-200 ease-nav-brand text-size-sm bg-gradient-slate h-9 w-9 rounded-xl">
                                              <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                  <title>credit-card</title>
                                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                      <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                          <g transform="translate(1716.000000, 291.000000)">
                                                              <g transform="translate(453.000000, 454.000000)">
                                                                  <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                                                  <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                                              </g>
                                                          </g>
                                                      </g>
                                                  </g>
                                              </svg>
                                          </div>
                                          <div class="flex flex-col justify-center">
                                              <h6 class="mb-1 font-normal leading-normal text-size-sm">Payment successfully completed</h6>
                                              <p class="mb-0 leading-tight text-size-xs text-slate-400">
                                                  <i class="mr-1 fa fa-clock" aria-hidden="true"></i>
                                                  2 days
                                              </p>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <div class="w-full px-6 py-6 mx-auto loopple-min-height-78vh text-slate-500">
          <div class="flex flex-wrap -mx-3 removable">

              <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
                  <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border mb-4">
                      <div class="flex-auto p-4">
                          <div class="flex flex-row -mx-3">
                              <div class="flex-none w-2/3 max-w-full px-3">
                                  <div>
                                      <p class="mb-0 font-sans font-semibold leading-normal text-size-sm">Today's Money</p>
                                      <h5 class="mb-0 font-bold">
                                          $53,000
                                          <span class="leading-normal text-size-sm font-weight-bolder text-lime-500">+55%</span>
                                      </h5>
                                  </div>
                              </div>
                              <div class="px-3 text-right basis-1/3">
                                  <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-fuchsia">
                                      <i class="ni ni-money-coins text-size-lg relative top-3.5 text-white"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
                  <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border mb-4">
                      <div class="flex-auto p-4">
                          <div class="flex flex-row -mx-3">
                              <div class="flex-none w-2/3 max-w-full px-3">
                                  <div>
                                      <p class="mb-0 font-sans font-semibold leading-normal text-size-sm">Today's Users</p>
                                      <h5 class="mb-0 font-bold">
                                          2,300
                                          <span class="leading-normal text-size-sm font-weight-bolder text-lime-500">+3%</span>
                                      </h5>
                                  </div>
                              </div>
                              <div class="px-3 text-right basis-1/3">
                                  <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-fuchsia">
                                      <i class="ni ni-world text-size-lg relative top-3.5 text-white" data-selected="selected-icon-hover"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
                  <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border mb-4">
                      <div class="flex-auto p-4">
                          <div class="flex flex-row -mx-3">
                              <div class="flex-none w-2/3 max-w-full px-3">
                                  <div>
                                      <p class="mb-0 font-sans font-semibold leading-normal text-size-sm">New Clients</p>
                                      <h5 class="mb-0 font-bold">
                                          +3,462
                                          <span class="leading-normal text-red-600 text-size-sm font-weight-bolder">-2%</span>
                                      </h5>
                                  </div>
                              </div>
                              <div class="px-3 text-right basis-1/3">
                                  <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-fuchsia">
                                      <i class="ni ni-paper-diploma text-size-lg relative top-3.5 text-white"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
                  <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border mb-4">
                      <div class="flex-auto p-4">
                          <div class="flex flex-row -mx-3">
                              <div class="flex-none w-2/3 max-w-full px-3">
                                  <div>
                                      <p class="mb-0 font-sans font-semibold leading-normal text-size-sm">Sales</p>
                                      <h5 class="mb-0 font-bold">
                                          $103,430
                                          <span class="leading-normal text-size-sm font-weight-bolder text-lime-500">+5%</span>
                                      </h5>
                                  </div>
                              </div>
                              <div class="px-3 text-right basis-1/3">
                                  <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-fuchsia">
                                      <i class="ni ni-cart text-size-lg relative top-3.5 text-white"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="flex flex-wrap -mx-3 removable">
              <div class="w-full max-w-full px-3 mb-6 lg:w-4/12 sm:flex-none xl:mb-0">
                  <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
                      <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6 pb-0 ">
                          <h6 class="dark:text-white">Top Selling Products</h6>
                      </div>
                      <div class="flex-auto p-0 pb-2 ">
                          <div class="p-0 overflow-x-auto">
                              <table class="items-center justify-center w-full mb-0 align-top border-gray-200 dark:border-white/40 dark:text-white text-slate-500">
                                  <thead class="align-bottom">
                                      <tr>
                                          <th class="py-3 pl-6 pr-6 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xs text-slate-400 opacity-70 whitespace-nowrap tracking-none text-left">Product</th>
                                          <th class="py-3 pl-2 pr-6 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Value</th>
                                          <th class="py-3 pl-2 pr-6 font-bold text-center uppercase align-middle border-b border-gray-200 border-solid text-xs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Ads Spent</th>
                                          <th class="py-3 pl-2 pr-6 font-bold text-center uppercase align-middle border-b border-gray-200 border-solid text-xs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Refunds</th>
                                      </tr>
                                  </thead>
                                  <tbody class="align-top">
                                      <tr>
                                          <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <div class="flex px-4 py-1">
                                                  <div>
                                                      <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/blue-shoe.jpg" alt="product image">
                                                  </div>
                                                  <div class="flex flex-col justify-center">
                                                      <h6 class="mb-0 leading-normal dark:text-white text-sm">Nike v22 Running</h6>
                                                      <p class="mb-0 font-semibold leading-normal text-xs text-slate-400">
                                                          <span class="text-lime-500">8.232</span>
                                                          orders
                                                      </p>
                                                  </div>
                                              </div>
                                          </td>
                                          <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$130.992</p>
                                          </td>
                                          <td class="p-2 text-center align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$9.500</p>
                                          </td>
                                          <td class="p-2 text-right align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <div class="flex items-center justify-center px-4 py-1">
                                                  <p class="mb-0 font-semibold leading-normal text-xs">13</p>
                                                  <i class="mt-1 ml-1 leading-normal ni leading-none ni-bold-down text-sm text-lime-500"></i>
                                                  <button type="button" class="active:shadow-soft-xs ml-4 active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl p-1.2 h-6 w-6 mb-0 flex cursor-pointer items-center justify-center border border-solid border-slate-400 bg-transparent text-center align-middle font-bold text-slate-400 shadow-none transition-all hover:bg-transparent hover:text-slate-400 hover:opacity-75 hover:shadow-none active:bg-slate-400 active:text-black hover:active:bg-transparent hover:active:text-slate-400 hover:active:opacity-75 hover:active:shadow-none">
                                                      <i class="fas fa-info text-3xs" aria-hidden="true"></i>
                                                  </button>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <div class="flex px-4 py-1">
                                                  <div>
                                                      <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/black-mug.jpg" alt="product image">
                                                  </div>
                                                  <div class="flex flex-col justify-center">
                                                      <h6 class="mb-0 leading-normal dark:text-white text-sm">Business Kit (Mug + Notebook)</h6>
                                                      <p class="mb-0 font-semibold leading-normal text-xs text-slate-400">
                                                          <span class="text-lime-500">12.821</span>
                                                          orders
                                                      </p>
                                                  </div>
                                              </div>
                                          </td>
                                          <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$80.250</p>
                                          </td>
                                          <td class="p-2 text-center align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$4.200</p>
                                          </td>
                                          <td class="p-2 text-right align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <div class="flex items-center justify-center px-4 py-1">
                                                  <p class="mb-0 font-semibold leading-normal text-xs">40</p>
                                                  <i class="mt-1 ml-1 leading-normal ni leading-none ni-bold-down text-sm text-lime-500"></i>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <div class="flex px-4 py-1">
                                                  <div>
                                                      <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/black-chair.jpg" alt="product image">
                                                  </div>
                                                  <div class="flex flex-col justify-center">
                                                      <h6 class="mb-0 leading-normal dark:text-white text-sm">Black Chair</h6>
                                                      <p class="mb-0 font-semibold leading-normal text-xs text-slate-400">
                                                          <span class="text-lime-500">2.421</span>
                                                          orders
                                                      </p>
                                                  </div>
                                              </div>
                                          </td>
                                          <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$40.600</p>
                                          </td>
                                          <td class="p-2 text-center align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$9.430</p>
                                          </td>
                                          <td class="p-2 text-right align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <div class="flex items-center justify-center px-4 py-1">
                                                  <p class="mb-0 font-semibold leading-normal text-xs">54</p>
                                                  <i class="mt-1 ml-1 leading-normal text-red-500 ni leading-none ni-bold-up text-sm"></i>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <div class="flex px-4 py-1">
                                                  <div>
                                                      <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/bang-sound.jpg" alt="product image">
                                                  </div>
                                                  <div class="flex flex-col justify-center">
                                                      <h6 class="mb-0 leading-normal dark:text-white text-sm">Wireless Charger</h6>
                                                      <p class="mb-0 font-semibold leading-normal text-xs text-slate-400">
                                                          <span class="text-lime-500">5.921</span>
                                                          orders
                                                      </p>
                                                  </div>
                                              </div>
                                          </td>
                                          <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$91.300</p>
                                          </td>
                                          <td class="p-2 text-center align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$7.364</p>
                                          </td>
                                          <td class="p-2 text-right align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                                              <div class="flex items-center justify-center px-4 py-1">
                                                  <p class="mb-0 font-semibold leading-normal text-xs">5</p>
                                                  <i class="mt-1 ml-1 leading-normal ni leading-none ni-bold-down text-sm text-lime-500"></i>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                                              <div class="flex px-4 py-1">
                                                  <div>
                                                      <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/photo-tools.jpg" alt="product image">
                                                  </div>
                                                  <div class="flex flex-col justify-center">
                                                      <h6 class="mb-0 leading-normal dark:text-white text-sm">Mountain Trip Kit (Camera + Backpack)</h6>
                                                      <p class="mb-0 font-semibold leading-normal text-xs text-slate-400">
                                                          <span class="text-lime-500">921</span>
                                                          orders
                                                      </p>
                                                  </div>
                                              </div>
                                          </td>
                                          <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$140.925</p>
                                          </td>
                                          <td class="p-2 text-center align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                                              <p class="mb-0 font-semibold leading-normal text-xs">$20.531</p>
                                          </td>
                                          <td class="p-2 text-right align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                                              <div class="flex items-center justify-center px-4 py-1">
                                                  <p class="mb-0 font-semibold leading-normal text-xs">121</p>
                                                  <i class="mt-1 ml-1 leading-normal text-red-500 ni leading-none ni-bold-up text-sm"></i>
                                                  <button type="button" class="active:shadow-soft-xs ml-4 active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl p-1.2 h-6 w-6 mb-0 flex cursor-pointer items-center justify-center border border-solid border-slate-400 bg-transparent text-center align-middle font-bold text-slate-400 shadow-none transition-all hover:bg-transparent hover:text-slate-400 hover:opacity-75 hover:shadow-none active:bg-slate-400 active:text-black hover:active:bg-transparent hover:active:text-slate-400 hover:active:opacity-75 hover:active:shadow-none">
                                                      <i class="fas fa-info text-3xs" aria-hidden="true"></i>
                                                  </button>
                                              </div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="w-full max-w-full px-3 mb-6 lg:w-8/12 sm:flex-none xl:mb-0">
                  <div class="relative z-20 flex flex-col min-w-0 break-words bg-white border-0 border-solid dark:bg-gray-950 border-black-125 shadow-soft-xl dark:shadow-soft-dark-xl rounded-2xl bg-clip-border mb-4">
                      <div class="p-6 pb-0 mb-0 border-b-0 border-solid border-black-125 rounded-t-2xl">
                          <h6 class="dark:text-white">Sales overview</h6>
                          <p class="leading-normal text-size-sm dark:opacity-60">
                              <i class="fa fa-arrow-up text-lime-500" aria-hidden="true"></i>
                              <span class="font-semibold">4% more</span> in 2021
                          </p>
                      </div>
                      <div class="flex-auto p-4">
                          <div>
                              <canvas id="chart-line" height="600" width="1368" style="display: block; box-sizing: border-box; height: 300px; width: 684px;"></canvas>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="flex flex-wrap -mx-3 removable">
              <div class="w-full max-w-full px-3 mb-6 lg:w-8/12 sm:flex-none xl:mb-0">
                  <div class="relative flex flex-col min-w-0 break-words bg-white border-0 border-solid dark:bg-gray-950 border-black-125 shadow-soft-xl dark:shadow-soft-dark-xl rounded-2xl bg-clip-border">
                      <div class="p-4 pb-0 mb-0 rounded-t-4">
                          <div class="flex justify-between">
                              <h6 class="mb-2 dark:text-white">Sales by Country</h6>
                          </div>
                      </div>
                      <div class="overflow-x-auto">
                          <table class="items-center w-full mb-4 align-top border-gray-200 dark:border-white/40">
                              <tbody>
                                  <tr>
                                      <td class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40">
                                          <div class="flex items-center px-2 py-1">
                                              <div>
                                                  <img src="https://demos.creative-tim.com/soft-ui-dashboard-pro-tailwind/assets/img/icons/flags/US.png" alt="Country flag">
                                              </div>
                                              <div class="ml-6">
                                                  <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Country:</p>
                                                  <h6 class="mb-0 leading-normal text-sm dark:text-white">United States</h6>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                          <div class="text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Sales:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">2500</h6>
                                          </div>
                                      </td>
                                      <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                          <div class="text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Value:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">$230,900</h6>
                                          </div>
                                      </td>
                                      <td class="p-2 leading-normal align-middle bg-transparent border-b text-sm whitespace-nowrap dark:border-white/40">
                                          <div class="flex-1 text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Bounce:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">29.9%</h6>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40">
                                          <div class="flex items-center px-2 py-1">
                                              <div>
                                                  <img src="https://demos.creative-tim.com/soft-ui-dashboard-pro-tailwind/assets/img/icons/flags/DE.png" alt="Country flag">
                                              </div>
                                              <div class="ml-6">
                                                  <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Country:</p>
                                                  <h6 class="mb-0 leading-normal text-sm dark:text-white">Germany</h6>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                          <div class="text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Sales:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">3.900</h6>
                                          </div>
                                      </td>
                                      <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                          <div class="text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Value:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">$440,000</h6>
                                          </div>
                                      </td>
                                      <td class="p-2 leading-normal align-middle bg-transparent border-b text-sm whitespace-nowrap dark:border-white/40">
                                          <div class="flex-1 text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Bounce:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">40.22%</h6>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40">
                                          <div class="flex items-center px-2 py-1">
                                              <div>
                                                  <img src="https://demos.creative-tim.com/soft-ui-dashboard-pro-tailwind/assets/img/icons/flags/GB.png" alt="Country flag">
                                              </div>
                                              <div class="ml-6">
                                                  <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Country:</p>
                                                  <h6 class="mb-0 leading-normal text-sm dark:text-white">Great Britain</h6>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                          <div class="text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Sales:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">1.400</h6>
                                          </div>
                                      </td>
                                      <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                          <div class="text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Value:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">$190,700</h6>
                                          </div>
                                      </td>
                                      <td class="p-2 leading-normal align-middle bg-transparent border-b text-sm whitespace-nowrap dark:border-white/40">
                                          <div class="flex-1 text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Bounce:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">23.44%</h6>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="p-2 align-middle bg-transparent border-0 w-3/10 whitespace-nowrap">
                                          <div class="flex items-center px-2 py-1">
                                              <div>
                                                  <img src="https://demos.creative-tim.com/soft-ui-dashboard-pro-tailwind/assets/img/icons/flags/BR.png" alt="Country flag">
                                              </div>
                                              <div class="ml-6">
                                                  <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Country:</p>
                                                  <h6 class="mb-0 leading-normal text-sm dark:text-white">Brasil</h6>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="p-2 align-middle bg-transparent border-0 whitespace-nowrap">
                                          <div class="text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Sales:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">562</h6>
                                          </div>
                                      </td>
                                      <td class="p-2 align-middle bg-transparent border-0 whitespace-nowrap">
                                          <div class="text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Value:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">$143,960</h6>
                                          </div>
                                      </td>
                                      <td class="p-2 leading-normal align-middle bg-transparent border-0 text-sm whitespace-nowrap">
                                          <div class="flex-1 text-center">
                                              <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">Bounce:</p>
                                              <h6 class="mb-0 leading-normal text-sm dark:text-white">32.14%</h6>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="w-full max-w-full px-3 mb-6 lg:w-4/12 sm:flex-none xl:mb-0">
                  <div class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border mb-4">
                      <div class="flex-auto p-4">
                          <div class="py-4 pr-1 mb-4 bg-gradient-dark-gray rounded-xl">
                              <div>
                                  <canvas id="chart-bars" class="chart-canvas" height="340" width="620" style="display: block; box-sizing: border-box; height: 170px; width: 310px;"></canvas>
                              </div>
                          </div>
                          <h6 class="mt-6 mb-0 ml-2">Active Users</h6>
                          <p class="ml-2 leading-normal text-size-sm">(<span class="font-bold">+23%</span>) than last week</p>
                          <div class="w-full px-6 mx-auto max-w-screen-2xl rounded-xl">
                              <div class="flex flex-wrap mt-0 -mx-3">
                                  <div class="flex-none w-1/4 max-w-full py-4 pl-0 pr-3 mt-0">
                                      <div class="flex mb-2">
                                          <div class="flex items-center justify-center w-5 h-5 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-fuchsia text-neutral-900">
                                              <svg width="10px" height="10px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                  <title>document</title>
                                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                      <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                          <g transform="translate(1716.000000, 291.000000)">
                                                              <g transform="translate(154.000000, 300.000000)">
                                                                  <path class="color-background" d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z" opacity="0.603585379"></path>
                                                                  <path class="color-background" d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"></path>
                                                              </g>
                                                          </g>
                                                      </g>
                                                  </g>
                                              </svg>
                                          </div>
                                          <p class="mt-1 mb-0 font-semibold leading-tight text-size-xs">Users</p>
                                      </div>
                                      <h4 class="font-bold">36K</h4>
                                      <div class="text-size-xs h-0.75 flex w-3/4 overflow-visible rounded-lg bg-gray-200">
                                          <div class="duration-600 ease-soft -mt-0.38 -ml-px flex h-1.5 w-3/5 flex-col justify-center overflow-hidden whitespace-nowrap rounded-lg bg-slate-700 text-center text-white transition-all" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="flex-none w-1/4 max-w-full py-4 pl-0 pr-3 mt-0">
                                      <div class="flex mb-2">
                                          <div class="flex items-center justify-center w-5 h-5 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-cyan text-neutral-900">
                                              <svg width="10px" height="10px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                  <title>spaceship</title>
                                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                      <g transform="translate(-1720.000000, -592.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                          <g transform="translate(1716.000000, 291.000000)">
                                                              <g transform="translate(4.000000, 301.000000)">
                                                                  <path class="color-background" d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z"></path>
                                                                  <path class="color-background" d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z"></path>
                                                                  <path class="color-background" d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z" opacity="0.598539807"></path>
                                                                  <path class="color-background" d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z" opacity="0.598539807"></path>
                                                              </g>
                                                          </g>
                                                      </g>
                                                  </g>
                                              </svg>
                                          </div>
                                          <p class="mt-1 mb-0 font-semibold leading-tight text-size-xs">Clicks</p>
                                      </div>
                                      <h4 class="font-bold">2m</h4>
                                      <div class="text-size-xs h-0.75 flex w-3/4 overflow-visible rounded-lg bg-gray-200">
                                          <div class="duration-600 ease-soft -mt-0.38 w-9/10 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap rounded-lg bg-slate-700 text-center text-white transition-all" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="flex-none w-1/4 max-w-full py-4 pl-0 pr-3 mt-0">
                                      <div class="flex mb-2">
                                          <div class="flex items-center justify-center w-5 h-5 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-orange text-neutral-900">
                                              <svg width="10px" height="10px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                  <title>credit-card</title>
                                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                      <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                          <g transform="translate(1716.000000, 291.000000)">
                                                              <g transform="translate(453.000000, 454.000000)">
                                                                  <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                                                  <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                                              </g>
                                                          </g>
                                                      </g>
                                                  </g>
                                              </svg>
                                          </div>
                                          <p class="mt-1 mb-0 font-semibold leading-tight text-size-xs">Sales</p>
                                      </div>
                                      <h4 class="font-bold">435$</h4>
                                      <div class="text-size-xs h-0.75 flex w-3/4 overflow-visible rounded-lg bg-gray-200">
                                          <div class="duration-600 ease-soft -mt-0.38 w-3/10 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap rounded-lg bg-slate-700 text-center text-white transition-all" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                                  <div class="flex-none w-1/4 max-w-full py-4 pl-0 pr-3 mt-0">
                                      <div class="flex mb-2">
                                          <div class="flex items-center justify-center w-5 h-5 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-red text-neutral-900">
                                              <svg width="10px" height="10px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                  <title>settings</title>
                                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                      <g transform="translate(-2020.000000, -442.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                          <g transform="translate(1716.000000, 291.000000)">
                                                              <g transform="translate(304.000000, 151.000000)">
                                                                  <polygon class="color-background" opacity="0.596981957" points="18.0883333 15.7316667 11.1783333 8.82166667 13.3333333 6.66666667 6.66666667 0 0 6.66666667 6.66666667 13.3333333 8.82166667 11.1783333 15.315 17.6716667"></polygon>
                                                                  <path class="color-background" d="M31.5666667,23.2333333 C31.0516667,23.2933333 30.53,23.3333333 30,23.3333333 C29.4916667,23.3333333 28.9866667,23.3033333 28.48,23.245 L22.4116667,30.7433333 L29.9416667,38.2733333 C32.2433333,40.575 35.9733333,40.575 38.275,38.2733333 L38.275,38.2733333 C40.5766667,35.9716667 40.5766667,32.2416667 38.275,29.94 L31.5666667,23.2333333 Z" opacity="0.596981957"></path>
                                                                  <path class="color-background" d="M33.785,11.285 L28.715,6.215 L34.0616667,0.868333333 C32.82,0.315 31.4483333,0 30,0 C24.4766667,0 20,4.47666667 20,10 C20,10.99 20.1483333,11.9433333 20.4166667,12.8466667 L2.435,27.3966667 C0.95,28.7083333 0.0633333333,30.595 0.00333333333,32.5733333 C-0.0583333333,34.5533333 0.71,36.4916667 2.11,37.89 C3.47,39.2516667 5.27833333,40 7.20166667,40 C9.26666667,40 11.2366667,39.1133333 12.6033333,37.565 L27.1533333,19.5833333 C28.0566667,19.8516667 29.01,20 30,20 C35.5233333,20 40,15.5233333 40,10 C40,8.55166667 39.685,7.18 39.1316667,5.93666667 L33.785,11.285 Z"></path>
                                                              </g>
                                                          </g>
                                                      </g>
                                                  </g>
                                              </svg>
                                          </div>
                                          <p class="mt-1 mb-0 font-semibold leading-tight text-size-xs">Items</p>
                                      </div>
                                      <h4 class="font-bold">43</h4>
                                      <div class="text-size-xs h-0.75 flex w-3/4 overflow-visible rounded-lg bg-gray-200">
                                          <div class="duration-600 ease-soft -mt-0.38 -ml-px flex h-1.5 w-1/2 flex-col justify-center overflow-hidden whitespace-nowrap rounded-lg bg-slate-700 text-center text-white transition-all" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer -->
      <footer class="pt-4">
          <div class="w-full px-6 mx-auto">
              <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
                  <div class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none">
                      <div class="leading-normal text-center text-size-sm text-slate-500 lg:text-left">
                          © 2022,
                          made with <i class="fa fa-heart" aria-hidden="true"></i> by
                          <a href="javascript:;" class="font-semibold text-slate-700" target="_blank">Creative Tim &amp; Loopple</a>
                          for a better web.
                      </div>
                  </div>
                  <div class="w-full max-w-full px-3 mt-0 shrink-0 lg:w-1/2 lg:flex-none">
                      <ul class="flex flex-wrap justify-center pl-0 mb-0 list-none lg:justify-end">
                          <li class="nav-item">
                              <a href="javascript:;" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-size-sm text-slate-500" target="_blank">Loopple</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:;" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-size-sm text-slate-500" target="_blank">About Us</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:;" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-size-sm text-slate-500" target="_blank">Blog</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:;" class="block px-4 pt-0 pb-1 pr-0 font-normal transition-colors ease-soft-in-out text-size-sm text-slate-500">License</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
  </div>
  <div class="loopple-badge">Made with<a href="https://www.loopple.com"><img src="https://www.loopple.com/img/loopple-logo.png" class="loopple-ml-1" style="width:55px"></a></div>
  <script src="https://demos.creative-tim.com/soft-ui-dashboard-tailwind/assets/js/plugins/chartjs.min.js"></script>

  <script src="https://demos.creative-tim.com/soft-ui-dashboard-tailwind/assets/js/plugins/perfect-scrollbar.min.js" async></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script src="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/soft-ui-dashboard-tailwind/js/soft-ui-dashboard-tailwind.js" async></script>
  <script>
      if(document.querySelector("#chart-bars")){
                var ctx = document.getElementById("chart-bars").getContext("2d");

                new Chart(ctx, {
                  type: "bar",
                  data: {
                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                      label: "Sales",
                      tension: 0.4,
                      borderWidth: 0,
                      borderRadius: 4,
                      borderSkipped: false,
                      backgroundColor: "#fff",
                      data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
                      maxBarThickness: 6
                    }, ],
                    },
                    options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      plugins: {
                        legend: {
                          display: false,
                        }
                      },
                      interaction: {
                        intersect: false,
                        mode: 'index',
                      },
                      scales: {
                        y: {
                          grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                          },
                          ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 15,
                            font: {
                              size: 14,
                              family: "Open Sans",
                              style: 'normal',
                              lineHeight: 2
                            },
                            color: "#fff"
                          },
                        },
                        x: {
                          grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false
                          },
                          ticks: {
                            display: false
                          },
                        },
                      },
                    },
                  });

                };

                if(document.querySelector("#chart-line")){
                  var ctx2 = document.getElementById("chart-line").getContext("2d");

                  var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

                  gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
                  gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
                  gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

                  var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

                  gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
                  gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
                  gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

                  new Chart(ctx2, {
                    type: "line",
                    data: {
                      labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                      datasets: [{
                          label: "Mobile apps",
                          tension: 0.4,
                          borderWidth: 0,
                          pointRadius: 0,
                          borderColor: "#cb0c9f",
                          borderWidth: 3,
                          backgroundColor: gradientStroke1,
                          fill: true,
                          data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                          maxBarThickness: 6

                        },
                        {
                          label: "Websites",
                          tension: 0.4,
                          borderWidth: 0,
                          pointRadius: 0,
                          borderColor: "#3A416F",
                          borderWidth: 3,
                          backgroundColor: gradientStroke2,
                          fill: true,
                          data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
                          maxBarThickness: 6
                        },
                      ],
                    },
                    options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      plugins: {
                        legend: {
                          display: false,
                        }
                      },
                      interaction: {
                        intersect: false,
                        mode: 'index',
                      },
                      scales: {
                        y: {
                          grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5]
                          },
                          ticks: {
                            display: true,
                            padding: 10,
                            color: '#b2b9bf',
                            font: {
                              size: 11,
                              family: "Open Sans",
                              style: 'normal',
                              lineHeight: 2
                            },
                          }
                        },
                        x: {
                          grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                            borderDash: [5, 5]
                          },
                          ticks: {
                            display: true,
                            color: '#b2b9bf',
                            padding: 20,
                            font: {
                              size: 11,
                              family: "Open Sans",
                              style: 'normal',
                              lineHeight: 2
                            },
                          }
                        },
                      },
                    },
                  });
                };
  </script>
</body>
